#side_left {
    float: left;
    width: 16vw;
    height: 100vh;
    background-color: #fff;
    position: relative;
    border-right : 1px solid #e0e0e0; 
}

.helper_logo {
    height: 10vh;
    width : 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo_img {
    margin-right : 15px;
}

.helper_text {
    padding: 0;
    background: none;
    border: none;
    color: #267DFF;
    font-size: 26px;
    font-weight: 900;
}

.menu_wrap{
    width : 100%;
    height: 90vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    /* display: inline-block; */
    /* position:absolute; */
    /* left:0; */
    /* right:1px; */
    /* padding : 0 24px; */
}

.myfolder {
    position: relative;
    margin-top: 70px;
    display: flex;
    padding : 24px;
}

.myfolder_btn, .favorites, .trashbin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor : pointer;
    /* position: relative; */

}

.favorites, .trashbin {
    margin-top: 24px;
    padding : 24px;
}

.down_arrow {
    margin-right : 8px;
}

.menu_img {
    margin-right : 17px;
}

.menu_title {
    color : #828282;
    font-size: 16px;
    font-weight: 800;
    
}

.add_folder {
    position : absolute;
    right: 24px;
    top : 24px;
}

.sub_folderlist {
    background-color: #F6F9FD;
    /*list-style-type : disc;*/
    
    overflow-y: auto;
    overflow-x:hidden;
    height: 300px;
    
}

/*#show_menu {
    display: block;
}*/

#hide_menu {
    display: none;
}

#sub_folder {
    position: absolute;
    overflow-y:auto;
    overflow-x:hidden;
    border: 1px solid black;
    height: 300px;
    width: 100%;
}

.MyFolderItem {
    position: absolute;
    position: relative;
    background: none;
    border: 1px solid black;
    overflow-x:hidden;
    width: 100%;
    height: 40px;
    display: flex;
    
}

.text {
    position: absolute;
    font-size: 14px;
    color: black;
    margin-left: 50px;
    font-weight: 700;
}

