@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


.popup {
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:100;
  background: rgba(0,0,0,0.6);
  

}

.popup .popupdiv {
  position: relative;
  width: 516px;
  height: 590px;
  background: #fff;
  margin-left: 600px;
  margin-top: 165px;
 

}


.remove {
  position: absolute;
  top: 1px;
  right: 6px;
  cursor: pointer;

}

.nameform {
  position: absolute;
  left: 67px;
  bottom: 100px;
  height: 50px;
  width: 385px;
 
}

.nametxt {
  width:100%;
  height:32px;
}



.namebtn {
  background-color: #267DFF;
  color: #fff;
  border: none;
  border-radius: 10px;
  width:109px;
  height:31px;
  margin-top: 20px;
  font-size:13px;
  font-weight: 700;
  cursor: pointer;
}

.nameuser {
  
  width: 100px;
  color: #828282;
  font-size: 17px;
  font-weight: 600;
  position: absolute;
  left:55px;
  bottom:165px;
}


.line {
  width: 460px;
  height: 2px;
  position: absolute;
  bottom:38%;
  left: 30px;
  background:#E0E0E0;
}


.emailuser {
  position: absolute;
  width: 200px;
  color: #828282;
  font-size: 17px;
  font-weight: 600;
  left:55px;
  top: 20px;
}




.EmailTemplate {
    position: absolute;
    top: 60px;
    left: 38px;
    width: 440px;
    height: 260px;

    
}

.EmailTemplate .content {
  
  background: #fff;
}

.EmailInsert {
  display: flex;
  background: #fff;
  
}


.EmailInsert .EmailInsertinput {
  background:none;
  outline:none;
  border: 1px solid black;
  font-size: 16px;
  color: black;
  width: 380px;
  height: 40px;
 
  
}

.EmailInsert .EmailInsertbtn {
  width: 60px;

  background: #267DFF;
  color: #fff;

}

.EmailList .EmailListItem {
  position: relative;
  padding: 1rem;
  display:flex;
  align-items: center;
  width: 420px;
  height: 40px;
  
  
}

.text {
  position: absolute;
  color: black;


}

.EmailListItem .removeemail {
  position: absolute;

  top: 5px;
  right: 10px;
  font-size: 16px;
  color: black;
  border: 1px solid black;
}

.EmailList{
  border: 1px solid black;
  height: 40px;
  overflow-y:auto;
  width: 440px;
  height: 220px;
  border: 1px solid black;

}